[Desktop Entry]
Encoding=UTF-8
Version=1.2
Type=Application
Name=CuteExplorer
Comment=Explore your maemo
Exec=/usr/bin/cuteexplorer
Icon=cuteexplorer_icon64
